body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fffefe;
  }

.square {
  background-color: red;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: flex;
}

h1{
    width: 100px;
    height: 50px;
    color: black;
    background-color: sienna;
    font-size: 20px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.circle{
  background-color: green;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 10px;
}

.squares {
  background-color: aqua;
  width: 100px;
  height: 100px;
  margin: 10px;
}
.wrapper {
  display: flexbox;
}